html {
    font-family: "Open Sans";
    background-color: "#afafff";
    padding: 5em 25%;
}
h1 {
    font-variation-settings: "wdth" 100;
    font-variation-settings: "wght" 700;
}
p {
    font-variation-settings: "wdth" 80;
    font-variation-settings: "wght" 600;
}